.idea/
*.iml

# xmake
.xmake/
build/
cmake-build-debug/
CMakeLists.txt
Xmake.Custom.*
vsxmake20*/*
!vsxmake20*/*.sln.DotSettings

# macOS
.DS_Store

imgui.ini

scripting/.gradle
scripting/**/build/
scripting/!src/**/build/
scripting/!gradle-wrapper.jar
scripting/!gradle-wrapper.properties
scripting/.gradletasknamecache
scripting/.project
scripting/.classpath
