@import "tailwindcss";
@import "material-symbols";

html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
    user-select: none;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.window-title {
    @apply bg-slate-800 p-2 sticky top-0 text-slate-50 font-light text-sm border-b-2 border-slate-900;
}

.window-contents {
    @apply p-2;
}
